{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script id="postTemps" type="text/x-handlebars-template">
            {% verbatim %}
                {{#each post}}
                    <li class="list-group-item list-group-item-action posts" id="{{this.id}}">
                        <div> <button class="postOwner" data-username={{this.owner}}><b>{{this.owner}}</b></button> 
                            <br><p class="postBody">{{this.body}}</p> 
                            <textarea class="form-control editPost" rows="3"></textarea>   
                        </div>
                        {{#ifEquals this.owner this.currentUser}}
                            <button class="edit"> Edit </button>
                        {{/ifEquals}}
                        <hr>
                        {{#if ../login}}
                            <div><span class="likes"><button class="like">{{#if this.liked}} Unlike {{else}} Like {{/if}} </button> : <span class="numOfLikes">{{ len this.likes }}</span> </span> <span class="postTime" style="float: right;" >{{this.timestamp}} </span></div>
                        {{else}}
                            <div><span class="likes"><button class="like" disabled>{{#if this.liked}} Unlike {{else}} Like  {{/if}} </button> : <span class="numOfLikes">{{ len this.likes }}</span> </span> <span class="postTime" style="float: right;" >{{this.timestamp}} </span></div>
                        {{/if}}
                    </li>
                {{/each}}
            {% endverbatim %}
        </script> 
        <script id="profileTemp" type="text/x-handlebars-template">
            {% verbatim %}
                <div class="profile" id="{{ profile.id }}">
                    <h3 id="userName">
                        {{ profile.userName }}
                    </h3>
                    <span> Followers : <span id="followers">{{ len profile.followers }}</span></span> <span>Following : {{ len profile.following}}</span>
                    <br>
                    {{#if login}}
                        {{#ifNEquals user profile.userName}}   
                            <button id="follow" type="button" class="btn btn-primary">{{#if followed}} UnFollow {{else}} Follow {{/if}}</button>
                        {{/ifNEquals}}
                    {{/if}}

                </div>
            {% endverbatim %}
        </script> 
        <script id="paginatorTemp" type="text/x-handlebars-template">
            {% verbatim %}
                <li class="page-item {{active}}"><a class="page-link paginitem" href="#" data-link="{{val}}">{{text}}</a></li>
            {% endverbatim %}
        </script> 
        {% block script %}
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 50px;">
            <a class="navbar-brand" href="{% url 'index' %}" id="network">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="profile"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}" id="allPosts">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="following">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>